.nav{
    background: #15171c;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navIcon{
    margin-left: 2rem;
    font-size: 2rem;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.inpout{
    display: flex;
    margin-left: 55px;
}
.views{
    margin-top: 426px;
}
.style{
    padding: 20px;
    height: 78vh;
    width: 890px;
    margin: 20px auto;
}
.buttonE{
    margin-top: 17px;
}